body {
    background-color: #0f0f0f;
    color: #f0f0f0;
    font-family: "Arial", sans-serif;
    padding: 20px;
}

.login-container {
    text-align: center;
    margin-top: 100px;
}

.login-btn {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #1b2838;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.game-card {
    background-color: #1b1b1b;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.recommended-game {
    display: flex;
    align-items: center;
    gap: 15px;
}
